body{
    background-color: #eef0f2;
}
.primary{
    background-color: #4482c1;
}
.secondary{
    background-color: #cbedf6;
    padding: 2px;
}
.accent{
    background-color: #fa761e;
}
.darkened{
    background-color: #cdcfd1;
    padding: 2px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.nav-button{
    padding: 10px;
    width: 150px;
    margin: 4px;
}
main{

}