body{
    background-color: #eef0f2;
    font-family: Verdana;
    margin: 0;
    padding: 0; 
}
.primary{
    background-color: #4482c1;
}
.secondary{
    background-color: #cbedf6;
}
.accent{
    background-color: #fa761e;
}
.darkened{
    background-color: #cdcfd1;
    padding: 2px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-bottom: solid black 2px;
}
.nav-button{
    padding: 10px;
    width: 150px;
    margin: 4px;
}
main{
    margin: 0;
    padding: 0; 
}
footer{
    border-top: solid black 2px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  background-color: #f1f1f1;
  text-align: center;
}
.header{
    grid-column: 1 / span 3;
    height: 300px;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    background-image: url("f-16thunderbird.jpeg");
}
.image-1{
    grid-column: 1 / span 1;
    height: 200px;
    border: solid black 2px;
}
.text-1{
    grid-column: 2 / span 2;
    height: 200px;
    border: solid black 2px;
}
.text-2{
    grid-column: 1 / span 2;
    height: 200px;
    border: solid black 2px;
}
.image-2{
    grid-column: 3 / span 1;
    height: 200px;
    border: solid black 2px;
}