body{
    background-color: #eef0f2;
    font-family: Verdana;
}
.primary{
    background-color: #4482c1;
}
.secondary{
    background-color: #cbedf6;
    padding: 2px;
}
.accent{
    background-color: #fa761e;
}
.darkened{
    background-color: #cdcfd1;
    padding: 2px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.nav-button{
    padding: 10px;
    width: 150px;
    margin: 4px;
}
.grid-contaner{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    padding: 10px;
    background-color: darkgrey;
    border-width: 2px;
    text-align: center;
    width:33%;
}
.grid-item .header{
    grid-column: 1 / span 3;
}
.grid-item .image{
    grid-column: 1 / span 1;
}
.grid-item .text{
    grid-column: 2 / span 2;
}